footer.footer.has-background-white-ter
	.container
		.columns.is-centered
			.column.is-2
				img.logo-footer(src="images/Logo-White.svg", alt="Flux Logo")

			.column.is-3
				.content
					p
						span.icon
							i.mdi.mdi-phone
						| (415) 695-4458
						br
						span.icon
							i.mdi.mdi-email
						| team@fluxfinancial.net

					p 
						| Made with
						span.icon
							i.mdi.mdi-heart
						| in Silicon Valley

			.column.is-4.is-pulled-right
				.content
					p= locale.global.footer.about