footer.footer.has-background-white-ter
	.container
		.tile
			.tile.footer-logo
				img.logo-footer(src="images/logo/full-white.svg", alt="Flux Logo")

			.tile
				.content
					p
						span.icon.iconify(data-icon="mdi:phone")
						| (415) 695-4458
						br
						span.icon.iconify(data-icon="mdi:email")
						| team@fluxfinancial.net

					p 
						| Made with
						span.icon.iconify(data-icon="mdi:heart")
						| in Silicon Valley

			.tile
				.content
					p= global.footer.about