footer.footer.has-background-white-ter
	.container.wide
		.columns.is-centered
			.column.is-2
				img.logo-footer(src="images/logo/full-white.svg", alt="Flux Logo")

			.column.is-3
				.content
					p
						span.icon
							i.iconify(data-icon="mdi:phone")
						| (415) 695-4458
						br
						span.icon
							i.iconify(data-icon="mdi:email")
						| team@fluxfinancial.net

					p 
						| Made with
						span.icon
							i.iconify(data-icon="mdi:heart")
						| in Silicon Valley

			.column.is-4.is-pulled-right
				.content
					p= global.footer.about