extends error

block errorHeader
	h1.title Error 404
		p.subtitle Not found

block errorDetails
	.section: .container: .content
		p The page you were looking for wasn't found.
		p Try checking the address you entered or press the button below to return to the index.