extends layout
include includes/index/tiles
include includes/index/person

block content
	+hero(local.hero.title,
		local.hero.subtitle)
	
	.section
		.container
			h2.title= local.munidollarsAbout.title
			.content
				+paragraphList(local.munidollarsAbout.paragraphs)

	.section
		.container
			h2.title= local.munidollarsUses.title
		
			.tile.is-ancestor
				each tile in local.munidollarsUses.tiles
					+categorytile(tile.img, tile.title, tile.content)

	.section.has-background-white-ter.bg-logo-white
		.container
			.content
				h1= local.about.title
				+paragraphList(local.about.paragraphs)

	.section
		.container
			.content
				h2= local.team.title

			.tile.is-ancestor
				each member in local.team.members
					+person(member)

