extends layout
include includes/index/tiles
include includes/index/person

block content
	+hero(locale.index.hero.title,
		locale.index.hero.subtitle)
	
	.section
		.container
			h2.title= locale.index.munidollarsAbout.title
			.content
				+paragraphList(locale.index.munidollarsAbout.paragraphs)

	.section
		.container
			h2.title= locale.index.munidollarsUses.title
		
			.tile.is-ancestor
				each tile in locale.index.munidollarsUses.tiles
					+categorytile(tile.img, tile.title, tile.content)

	.section.has-background-white-ter.bg-logo-white
		.container
			.content
				h1= locale.index.about.title
				+paragraphList(locale.index.about.paragraphs)

	.section
		.container
			.content
				h2= locale.index.team.title

			.tile.is-ancestor
				each member in locale.index.team.members
					+person(member)

