include includes/content

doctype html
html(lang='en')
	include includes/header
	
	body.has-navbar-fixed-top
		block nav
			nav.navbar.is-primary.is-fixed-top(role='navigation' aria-label='main navigation')
				.navbar-brand
					a.navbar-item(href='/')
						img.logo-nav(src='images/logo/full-white.svg' alt='Flux Logo')
					
					a(role='button' class='navbar-burger' data-target='navMenu' aria-label='menu' aria-expanded='false')
						each i in [1,2,3]
							span(aria-hidden='true')

				.navbar-menu#navMenu
					block homeButton
						.navbar-start
							+navitem(global.homeButton)

					.navbar-end
						include includes/globalnav

		block content
		
		block footer
			include includes/footer
		
		script(src="https://raw.githubusercontent.com/aFarkas/lazysizes/gh-pages/lazysizes.min.js" async)
		script(src="//code.iconify.design/1/1.0.0-rc1/iconify.min.js" async)
		script(src="/javascripts/menu.js" async)
		script(src="/javascripts/loadCSS.js" async)

