include includes/global/content

doctype html
html(lang='en')
	include includes/global/header
	
	body.has-navbar-fixed-top
		include includes/global/navbar

		block content
		
		block footer
			include includes/global/footer
		
		script(src="https://raw.githubusercontent.com/aFarkas/lazysizes/gh-pages/lazysizes.min.js" async)
		
		include includes/global/scripts

